---
openapi: 3.0.1
info:
  title: API V1
  version: v1
components:
  schemas:
    User:
      type: object
      required:
      - id
      - name
      - email
      properties:
        id:
          type: integer
          example: 1
        name:
          type: string
          example: ユーザー太朗
        email:
          type: string
          example: user@example.com
        role:
          type: integer
          enum:
          - 0
          - 1
          description: 0=admin, 1=user
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
paths:
  "/api/v1/password/reset/request":
    post:
      summary: パスワード変更メール
      tags:
      - PasswordResets
      parameters: []
      responses:
        '200':
          description: リセットメール送信成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ご入力のメールアドレス宛に、パスワード再設定用のリンクを送信しました。
                required:
                - message
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
  "/api/v1/password/verify":
    post:
      summary: トークン&メールアドレスチェック
      tags:
      - EmailVerify
      parameters: []
      responses:
        '200':
          description: 有効なトークン
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: トークンは有効です。
        '401':
          description: トークンが空
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 無効なトークンです
        '404':
          description: ユーザーが存在しない
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ユーザーが見つかりません。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - token
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                token:
                  type: string
                  example: abc123reset_token_here
  "/api/v1/password/reset":
    patch:
      summary: パスワード更新
      tags:
      - PasswordUpdate
      parameters: []
      responses:
        '200':
          description: パスワードを更新成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: パスワードを更新しました。
        '401':
          description: 無効なトークンor期限切れ
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: 無効なトークンです
        '404':
          description: ユーザーが存在しない
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: ユーザーが見つかりません。
        '422':
          description: パスワードが空白
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: パスワードと確認用パスワードを入力してください。
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - email
              - token
              - password
              - password_confirmation
              properties:
                email:
                  type: string
                  format: email
                  example: user@example.com
                token:
                  type: string
                  example: abc123reset_token_here
                password:
                  type: string
                  example: password123
                password_confirmation:
                  type: string
                  example: password123
  "/api/v1/user":
    post:
      summary: ユーザーのサインアップ
      tags:
      - Users
      parameters: []
      responses:
        '200':
          description: サインアップ成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: サインアップに成功しました
                  user:
                    type: object
                    required:
                    - id
                    - email
                    - name
                    properties:
                      id:
                        type: integer
                        example: 1
                      email:
                        type: string
                        example: test@example.com
                      name:
                        type: string
                        example: test
        '422':
          description: サインアップ失敗
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 422
                  message:
                    type: string
                    example: サインアップに失敗しました
                  errors:
                    type: array
                    items:
                      type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required:
              - user
              properties:
                user:
                  type: object
                  required:
                  - email
                  - password
                  - password_confirmation
                  - name
                  properties:
                    email:
                      type: string
                      example: test@example.com
                    password:
                      type: string
                      example: password123
                    password_confirmation:
                      type: string
                      example: password123
                    name:
                      type: string
                      example: test
  "/api/v1/login":
    post:
      summary: ユーザーのログイン
      tags:
      - Users
      parameters: []
      responses:
        '200':
          description: ログイン成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: ログインに成功しました
                  user:
                    type: object
                    required:
                    - id
                    - email
                    - name
                    properties:
                      id:
                        type: integer
                        example: 1
                      email:
                        type: string
                        example: test@example.com
                      name:
                        type: string
                        example: テストユーザー
        '401':
          description: ログイン失敗（認証エラー）
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 401
                  message:
                    type: string
                    example: メールアドレスか、パスワードが不正です
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                user:
                  type: object
                  required:
                  - email
                  - password
                  properties:
                    email:
                      type: string
                      example: test@example.com
                    password:
                      type: string
                      example: password123
  "/api/v1/logout":
    delete:
      summary: ユーザーのログアウト
      tags:
      - Users
      parameters:
      - name: Authorization
        in: header
        description: Bearer token
        schema:
          type: string
      responses:
        '200':
          description: ログアウト成功
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: integer
                    example: 200
                  message:
                    type: string
                    example: ログアウトに成功しました
        '401':
          description: 有効期限切れトークン
  "/api/v1/profile":
    get:
      summary: プロフィール取得
      tags:
      - Profile
      description: ログイン中のユーザー情報（プロフィール）を取得します。
      operationId: getProfile
      parameters:
      - name: Authorization
        in: header
        schema:
          type: string
        description: Bearer token
      responses:
        '200':
          description: プロフィールの取得成功
          content:
            application/json:
              schema:
                "$ref": "#/components/schemas/User"
        '401':
          description: 未認証
servers:
- url: http://{defaultHost}
  variables:
    defaultHost:
      default: www.example.com
